<div class="container">
  <br>
  <button type="button" class="btn btn-primary" (click) = "addUser()">AddUser</button>
  <br>
  <hr>
  <button type="button" class="btn btn-primary" (click) = "removeUser()">DeleteUser</button>
  <br>
  <hr>
  <button type="button" class="btn btn-primary" (click) = "updateUser()">Update User</button>
  <br>
  <hr>
  <button type="button" class="btn btn-primary" (click) = "displayUsers()">Users List</button>
  <br>
  <hr>
  <button type="button" class="btn btn-primary" (click) = "displayCurrentUser()">Current User</button>
 
</div>
